@charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
}
html, body{
	height: 100%;
}
body {
	margin: 0px;
}
a {
	text-decoration: none;
}
header {
	position: relative;
  float: left;
  width: 100%;
  height: 702px;
}
 .fon1 {
	 display: block;
	 position: absolute;
	 width: 100%;
	 height: 702px;
	 background-image: url(../image/Group_1.png);
	 background-size: 100%;
	 z-index: -2;
 }
 .logo{
	display: flex;
	float: left;
	margin-left: 103px;
	margin-top: 38px;
 }

 .navigation{
	 display: flex;
	 float: right;
	 margin-top: 60px;
	 margin-right: 104px;
 }
 .navigation ul {
	 list-style-type: none;

 }
 .navigation ul li {
	 float: left;
	 margin: 0px 5px;
	 padding: 5px 5px;
	 border: 2px solid rgba(0, 0, 0, 0)
 }
 
 .navigation ul li:hover{
	border: 2px solid rgba(0, 0, 0, 0);
	background-color: #d03958;
	border-radius: 5px;
	color: #ffffff;
	transition: 0.15s;
 } 
 .navigation ul a {
	 text-decoration: none;
	 color: #1b1b1b;
		font-family: Montserrat;
		font-size: 18px;
		font-weight: 400;
		line-height: 22px;
		text-transform: uppercase;
 }

 .fon2 {
	 display: block;
	 position: absolute;
	 width: 100%;
	 height: 688px;
	 z-index: -1;
	 background-color: #ffedbe4d;
 }
.text_head{
	display: flex;
	width: 500px;
	height: 150px;
	position: absolute;
	top: 264px;
	left: 103px;
	margin: 0px;
	padding: 0px;
}
.text_head h1 {
	font-family: Montserrat;
	font-size: 90px;
	font-weight: 700;
	line-height: 80px;
	text-transform: uppercase;
	color: #161616;
}
.text_head h1:first-line{
	color: #d03958;
}
.text_head2{
	display: flex;
	width: 500px;
	height: 75px;
	position: absolute;
	top: 457px;
	left: 103px;
}
.text_head2 p{
	color: #161616;
	font-family: "PT Serif";
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
}
.reg {
	display: block;
	position: absolute;
	z-index: 3;
	width: 400px;
	height: 500px;
	background-color: #d03958;
	border-radius: 5px;
	right: 8.666%;
	top: 253px;
	text-align: center;

}
.reg h3 {
	color: #ffffff;
	font-family: Montserrat;
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 33px;
}
.form1 {
	padding: 20px;
}
.form1 .form{
	display: block;
	border-radius: 5px;
	border: none;
	margin: 16px 0px;
	width: 353px;
	height: 57px;
	padding: 19px;
	color: #1f1d1d;
	font-family: "PT Serif";
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
	box-sizing: border-box;
}
.check {
	width: 19px;
	height: 18px;
	border: none;
	border-radius: 3px;
	background-color: white;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
}
.reg p {
	color: #ffffff;
	font-family: "PT Serif";
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
}
a .send{
	display: block;
	width: 353px;
	height: 57px;
	background-color: #161616;
	margin: 0px 20px;
	border-radius: 5px;
	color: #ffffff;
	font-family: Montserrat;
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
	padding: 15px;
	box-sizing: border-box;
	text-decoration: none;
}

.lvl_2 {
	clear: both;
	display: block;
	height: 480px;
	width: 100%;
	background-color: white;
}
.our_srvs{
	display: block;
	margin: 40px 0 0 100px;
}
.our_srvs h3 {
	display: inline;
	color: #161616;
	font-family: Couture;
	font-size: 50px;
	font-weight: 700;
	line-height: 80px;
	text-transform: uppercase;
}
.our_srvs h3 span {
	color: #d03958;
}
.icons{
	display: block;
	margin-top: 98px;
	justify-content: center;
	width: 100%;
	text-align: center;
	padding: 0 6%;
	box-sizing: border-box;
	
}
.icon{
	display: inline-block;
	margin-right: 13.79%;
	width: 160px;
}
.icon:last-child{
	margin: 0px;
}
.icons_text_block{
	width: 100%;
	margin-top: 40px;
	text-align: center;
	padding: 0 6%;
	box-sizing: border-box;
}
.icons_text{
	display: inline-block;
	margin-right: 13.79%;
	width: 160px;
	color: #161616;
	font-family: "PT Serif";
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
}
.icons_text:last-child{
	margin: 0;
}
.lvl_3{
	width: 100%;
	height: 120px;
	background-color: #d03958;
	padding: 20px 8.715%;
	box-sizing: border-box;
}
.text_3{
	float: left;
	width: 52%;
	display: block;
	color: #ffffff;
	font-family: "PT Serif";
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	margin-top: 15px;
} 
.btn_3 {
	float: left;
	height: 64px;
	background-color: #e3d5b8;
	width: 22.327%;
	display: block;
	border-radius: 5px;
	text-align: center;
	padding: 17px 0;
	box-sizing: border-box;
	margin-left: 10%;
	color: #161616;
	font-family: Montserrat;
	font-size: 22px;
	font-weight: 400;
	line-height: 28px;
	text-transform: uppercase;
	margin-top: 15px;
}
.btn_3:hover{
	background-color: #161616;
	color: #ffffff;
	font-size: 25px;
	transition: 0.2s;
}
.pricing{
	width: 100%;
	height: 537px;
	background-color: #e3d5b8;
	text-align: center;
	padding: 65px 12% 0px 12%;
	box-sizing: border-box;
	position: relative;
	
}
.pr_text{
	color: #1f1f1f;
	font-family: Montserrat;
	font-size: 50px;
	font-weight: 700;
	line-height: 80px;
	text-transform: uppercase;
}
.cont_rs{
	position: relative;
}
.cont{
	width: 318px;
	height: 400px;
	background-color: #ffffff;
	display: block;
	float: left;
	margin: 0 0.83%;
	text-align: center;
	padding-top: 35px;
	box-sizing: border-box;
	position: relative;
}
.cont h5{
	color: #161616;
	font-family: "PT Serif";
	font-size: 22px;
	font-weight: 400;
	line-height: 28px;
}
.cont h2{
	color: #d03958;
	font-family: Montserrat;
	font-size: 60px;
	font-weight: 700;
	line-height: 80px;
	text-transform: uppercase;
	margin-top: 41px;
}
.cont p{
	color: #161616;
	font-family: "PT Serif";
	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
	margin-top: 33px;
}
.btn_cont{
	position: absolute;
	width: 205px;
	height: 50px;
	background-color: #e3d5b8;
	display: block;
	border-radius: 5px;
	bottom: 2px;
	left: 18%;
	color: #161616;
	font-family: Montserrat;
	font-size: 22px;
	font-weight: 400;
	line-height: 28px;
	text-transform: uppercase;
	padding-top: 12px;
	box-sizing: border-box;
	transition: 0.3s;
}
.btn_cont:hover{
	width: 245px;
	color: #ffffff;
	font-family: Montserrat;
	font-size: 25px;
	left: 12%;
	font-weight: 400;
	line-height: 28px;
	text-transform: uppercase;
	background-color: #d03958;
	transition: 0.3s;
}